body {
  background-color: black;
  font-family: poppins;
}
/* nav bar */
#nav {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 0px 20px;
  width: 100%;
}

/* added font weight, size and letter spacing in nav p a tags */
header nav p a {
  text-decoration: none;
  color: orange;
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
}

/* added display as flex and also added some column gap beside that I hav ealso set a font size and weight and remove the liste style */
header div ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  list-style-type: none;
  font-weight: 600;
}

/* added a color to a tag under ul header and removed the text decoration also added hover and active color */
header nav ul a {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
}

header nav ul a:hover {
  color: orange;
  text-decoration: none;
}

header nav div ul:active {
  color: orange;
}

/* dropdown */

/* Dropdown Content (Hidden by Default) */
.dropdown-workout-content {
  display: none;
  position: absolute;
  background-color: /*rgba(212, 212, 212, 0.26)*/ black;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-workout-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-workout-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown-workout:hover .dropdown-workout-content {
  display: block;
  margin-left: -10px;
  text-align: center;
}

.user-profile-picture {
  padding: 2rem;
  width: 25%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile {
  margin-bottom: 2rem;
}
iframe {
  align-self: center;
  border: orange;
}
.workout-title {
  font-size: 2rem;
  color: orange;
}
.workout-made {
  padding: 2rem;
}
.card-custm {
  background-color: orange;
  color: #ddd;
}

.card-custom {
  row-gap: 30px;
}
.hidden {
  display: none;
}
#card-root {
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-title {
  color: black;
  font-weight: 700;
}
.card-text {
  font-weight: 500;
  font-size: 22px;
}
